body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  .container {
    display: flex;
    gap: 20px;
  }
  
  .card {
    position: relative;
    width: 120px;
    height: 120px;
    perspective: 800px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  
  .card-front {
    background-color: #ffcc00;
    color: #fff;
    font-size: 48px;
    border: 3px solid #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-back {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para las vocales en el reverso de la tarjeta */
  .card-back::before {
    content: attr(data-sound);
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
  }
  
  /* Estilos para hacer la página responsive */
@media screen and (max-width: 768px) {
    .container {
      max-width: 400px;
    }
  
    .card {
        position: flex;
        width: 100px;
      height: 100px;
    }
  
    .card-front {
      font-size: 36px;
    }
  
    .card-back::before {
      font-size: 18px;
    }
  }